@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
   
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        box-sizing: border-box;

   
}

.sidebar {
    padding-top:20px ;
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 15%; 
    background-color: #210950;
    text-align: center;
    color: white;
    line-height: 3;


}

.sidebar li{
    list-style: none;
    text-align: left;
    
}
.wrapper {

    position: relative;
    margin: 0 auto;
    padding: 20px;
    width: 87%;
    height: 100vh;
    float: right;
    margin-left: 78px; 
}

.top-head{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    font-size: .8rem;

    h3{
        font-weight: 650;
    }
}

